/* Trakcharge Main Styles */
/* [Alpha Alpha] */

 :root{
      --yellow:#face23;
      --black:#0b0b0b;
      --text:#111;
      --muted: rgba(0,0,0,0.65);
      --max-width:1100px;
    }


body {
            background-color: #face23;
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
        }
        .caution-border {
            height: 30px;
            background-image: repeating-linear-gradient(
                45deg,
                black 0,
                black 15px,
                #face23 15px,
                #face23 30px
            );
        }
        header {
            padding: 40px 20px 20px;
        }

        h1 {
            font-size: 3em;
            margin: 0;
        }

        h2 {
            font-size: 1.5em;
            margin-top: 5px;
            color: #000000;
        }

        .construction-message {
            margin-top: 60px;
            font-size: 1.8em;
            color: #000;
            animation: blink 1.5s steps(2, start) infinite;
        }

        @keyframes blink {
            to {
                visibility: hidden;
            }
        }

        .icon {
            font-size: 5em;
            margin-top: 40px;
        }

.hidden {
display: none;
}

.avl {
display: block;
}

  .sl {
    border-bottom: 2px solid black;
    margin: 20px 0; /* Optional: add space above and below */
  }