/* Trakcharge Google Form Section Styles */
/* [Golf Foxtrot] */

.form-container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.form-container iframe {
  width: 100%;
  min-height: 800px; /* adjust as needed */
  border: none;
}

@media (max-width: 650px) {
  .form-container iframe {
    transform: scale(0.9);
    transform-origin: top left;
    width: 111%; /* compensates for scaling */
  }
}